* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ARCADECLASSIC;
  src: url(../fonts/ARCADECLASSIC.TTF);
}

html, body {
  position: fixed;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  color: white;
  background-color: black;
  font-family: 'ARCADECLASSIC', sans-serif;
}

.invisible {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 80px;
  width: 180px;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 5px;
}

.container {
  width: 99vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textEnter {
  h1 {
    font-size: 3rem;
    color: chartreuse;
  }
}

.board {
  padding: 0;
  border: 1px solid white;
  div {
    // background-color: darkseagreen;
    float: left;
    // border: 0.5px solid black;
    width: 10px;
    height: 10px;
  }
}

table {
  font-size: 1.4rem;
  tr, td, th {
    margin: 10px;
    padding: 10px;
  }
  th {
    color: blue;
  }
  tr:nth-of-type(3n+1) {
    color: chartreuse;
  }
  tr:nth-of-type(3n+2) {
    color: cyan;
  }
  tr:nth-of-type(3n+3) {
    color: fuchsia;
  }
}

.setEasy {
  color: fuchsia;
}

.setMedium {
  color: chartreuse;
}

.setHard {
  color: red;
}

.snake {
  background-color: chartreuse;
}

.mouse {
  background-color: grey;
}

//animation
@keyframes pulse {
  0% {
    transform: scale(1);
    color: black;
  }
  50% {
    transform: scale(1.1);
    color: chartreuse;
  }
  100% {
    transform: scale(1);
    color: black;
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
