*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ARCADECLASSIC;
  src: url(../fonts/ARCADECLASSIC.TTF);
}

html, body {
  position: fixed;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  color: white;
  background-color: black;
  font-family: 'ARCADECLASSIC', sans-serif;
}

.container {
  width: 99vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textEnter {
  h1 {
    font-size: 3rem;
  }
}

.board {
  padding: 0px;
 border: 1px solid white;
}
.board div {
 // background-color: darkseagreen;
  float: left;
 // border: 0.5px solid black;
  width: 10px;
  height: 10px;
}

.snake {
  background-color: darkseagreen;
}

.mouse {
  background-color: lightslategray;
}
